doctype html
html(lang="en", ng-app="ConfigApp")
  head
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdn.kendostatic.com/2014.3.1411/styles/kendo.common.min.css")
    link(rel="stylesheet", href="//cdn.kendostatic.com/2014.3.1411/styles/kendo.silver.min.css")
    link(rel='stylesheet', href='app/css/config.css')
    script(type='text/javascript', src="//code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="//cdn.kendostatic.com/2014.3.1411/js/angular.min.js")
    script(type='text/javascript', src="//cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js")
    script(type='text/javascript', src="app/js/config.js")
  body
    .container-fluid(ng-controller="ConfigCtrl")
      .row
        .col-md-4
          .row
            .col-md-12
              h2 Configuration
              form
                .form-group
                  label(for="countryField") Country
                  select.form-control(id="countryField", kendo-drop-down-list, k-option-label="'Select country...'",k-data-text-field="'text'",k-data-value-field="'value'",ng-model="country",k-on-change="change()",k-data-source="countriesDataSource")
                .form-group
                  label(for="roleField") Role
                  select.form-control(id="roleField", kendo-multi-select, k-option-label="'Select role...'",k-data-text-field="'value'",k-data-value-field="'value'",k-data-source="rolesDataSource",ng-model="roles",ng-change="change()")
                .form-group
                  label(for="themeField") Theme
                  select.form-control(id="themeField", kendo-drop-down-list, k-option-label="'Select theme...'",k-data-text-field="'text'",k-data-value-field="'value'",k-data-source="themesDataSource",ng-model="theme",k-on-change="change()")
                .form-group
                  label(for="tmplField") Template
                  select.form-control(id="tmplField", kendo-drop-down-list, k-option-label="'Select template...'",k-data-text-field="'text'",k-data-value-field="'value'",k-data-source="tmplDataSource",ng-model="tmpl", k-on-change="change()")
                .checkbox
                  label
                    input(type="checkbox", ng-model="showSearchForm",ng-change="changeShowSearchForm()")
                    | Show search form?
                .checkbox
                  label
                    input(type="checkbox", ng-model="hidePager",ng-change="changeHidePager()")
                    | Hide pager?

          .row
            .col-md-12
              h2 Code
              textarea(id="code", style="width: 100%; height: 200px")
        .col-md-8
          .row
            .col-md-12
              h2 Preview
              iframe(id="preview", src="contacts.html", style="width:500px;height: 383px", frameborder="0")


